BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 0
IndentCaseLabels: true
SortIncludes: false
